@model IEnumerable<FinancialAnalysis.Models.Client>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OIB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZIPCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Job)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Citizenship)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MoneyIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MoneyOut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bank)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DebtAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KidsAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HealthInsurance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleInsurance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RealEstateInsurance)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OIB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZIPCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Job)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Citizenship)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MoneyIn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MoneyOut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bank)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DebtAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KidsAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HealthInsurance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleInsurance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RealEstateInsurance)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
